@import "../../sass/_base-layout";

.root {
  @extend %l-flex-expand;

  @extend %l-flex-container;
}

.main-viewport {
  @extend %l-flex-expand;

  @extend %l-flex-container;

  flex-direction: column;
  min-height: 0 !important;
}

:global(.ui):global(.menu) :global(.item).side-menu-item {
  padding: 0;
  & a {
    display: block;
    line-height: 80px;
  }
}
