.root {
  font-size: inherit;
  position: relative;
}
.item {
  display: inline-block;
  width: 50%;
}
.item__detail {
position: absolute;
  background-color: white;
  padding: 16px;
  top: 0;
  bottom: 0;
  z-index: 9999;
  pointer-events: none;
}
.img {
  vertical-align: top;
  max-width: 100%;
}
