.body {
  margin-left: 32px;
  margin-right: 32px;
  margin-bottom: 64px;

}
.h1 {
  line-height: 64px;
  text-align: center;
  margin-right: 64px;
}

.yapi-link-img {
  width: 125px;
  height: 17px;
  margin: 16px 0;
}
