@import "../../sass/_base-layout";

.root {
  @extend %l-flex-container;
}

$h: 64px;

.menu-icon,
.auth-trigger {
  padding: 0 16px;
  height: $h;
  line-height: $h;
  box-sizing: content-box;
}

.title {
  @extend %l-flex-expand;
  height: $h;
  line-height: $h;
}
