.root {
  & :global(.icon) {
    vertical-align: middle;
  }
}

.dropdown-menu {
  max-height: 8px * 60;
  overflow: auto;
}


.category-path {
  $max-parent-width: 6rem;
  display: inline-block;
  margin-right: 16px;
  vertical-align: middle;
  &__parent-category {
    display: inline-block;
    max-width: $max-parent-width;
    overflow: hidden;
    direction: rtl;
    white-space: nowrap;
    vertical-align: bottom;
    position: relative;
    &-inner {
      display: inline-block;
      direction: ltr;
    }
    &:before {
      $gradient-width: 2rem;
      content: "";
      width: $gradient-width;
      position: absolute;
      background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
      z-index: 9999;
      top: 0;
      left: 0;
      right: $max-parent-width - $gradient-width;
      bottom: 0;
      pointer-events: none;
    }
  }
}

.query-keywords-input {
  border: none;
  font-size: 2rem;
  vertical-align: middle;
  border-bottom: 1px #999 solid;
  padding: 4px;
}

