.root {
  padding: 16px;
}

.dropdown-menu {
  max-height: 8 * 80px;
  overflow: auto;
}

.query-keywords-input {
  border: none;
}

.category-path {
  $category-path-height: 3rem;
  &__parent-category {
    display: inline-block;
    max-width: 6rem;
    overflow: hidden;
    direction: rtl;
    white-space: nowrap;
    vertical-align: bottom;
    &-inner {
      direction: ltr;
    }
    &:before {
      content: "";
      width: 2rem;
      position: absolute;
      background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
      z-index: 9999;
      top: 0;
      left: 0;
      right: 6rem;
      bottom: 0;
    }
  }
}
