@import "_base-layout";

:global(body) {
  height: auto;
  min-height: 100%;
}

:global(#application-container),
:global(#application-container .pushable) {
  width: 100%;
}

:global(.route-home) {
  &,
  :global(#application-container),
  :global(#application-container .pushable) {
    height: 100%;
  }
}

:global(.route-items .pushable),
:global(.route-about .pushable) {
  height: auto;
}

:global(body) {
  @extend %l-flex-container;
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, YuGothic, "Yu Gothic", 游ゴシック体, 游ゴシック, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "MS ゴシック", "MS Gothic", sans-serif;
}

:global(#application-container) {
  @extend %l-flex-expand;
  @extend %l-flex-container;
  margin: 0;
  > :global(.pushable) {
    display: flex;
  }
}

:global([tabindex]) {
  cursor: pointer;
}

:global(i.icon:before) {
  line-height: 1em;
}

:global(.route-items) {
  overflow: auto !important;
}

:global(input[type=search]) {
  -webkit-appearance:initial;
}

:global(#img-preloader) {
  width: 1px;
  height: 1px;
  visibility: hidden;
  position: absolute;
  bottom: -1px;
  right: -1px;
}

:global(.pushable>.pusher:after) {
  background-color: rgba(0,0,0,0.1);
}
