@import "../../sass/_base-layout";

.toolbar {
  @extend %l-flex-container;
}

$h: 64px;

//refactor
.left-button,
.right-button {
  padding: 0 16px;
  height: $h;
  line-height: $h;
  box-sizing: content-box;
}

.center-label {
  @extend %l-flex-expand;
  height: $h;
  line-height: $h;
  white-space: nowrap;
  overflow: hidden;
}
