@import "../../sass/_base-layout";

.root {
  margin-bottom: 64px;
}

.toolbar {
  @extend %l-flex-container;
}

$h: 64px;

//refactor
.left-button,
.right-button {
  padding: 0 16px;
  height: $h;
  line-height: $h;
  box-sizing: content-box;
}

.center-label {
  @extend %l-flex-expand;
  height: $h;
  line-height: $h;
  white-space: nowrap;
  overflow: hidden;
}

.images {
  text-align: center;
  cursor: pointer;
}
.img {
  max-width: 100%;
  vertical-align: bottom;
}
.indicator {
  margin-top: 4px;
  text-align: center;
  &__dot {
    display: inline-block;
    width: 4px;
    height: 4px;
    margin: 0 8px;
    border: 1px #ccc solid;
    border-radius: 32px;
    background-color: white;
    &--selected {
      background-color: #666;
      border: 1px #666 solid;
    }
  }
}

.h2 {
  margin-left: 24px;
  margin-right: 24px;
  font-weight: normal;
}

.detail {
  overflow: auto;
  margin-left: 24px;
  margin-right: 24px;
  :global(img) {
    max-width: 100%;
  }
}
