.root {
  display: flex;
  flex-direction: row;
  &__is-left-edge .go-back :global(.icon),
  &__is-right-edge .go-forward :global(.icon) {
    opacity: 0.2;
  }

}

//.history,
.go-back,
.go-forward {
  padding: 24px;
  font-size: 2rem;
  cursor: pointer;
  &:hover {
    background-color: #eee;
  }
}

.go-back {
  flex: 1;
  text-align: left;
}

.go-forward {
  flex: 3;
  text-align: right;
}
