.root {
  display: flex;
  flex-direction: row;
}

//.history,
.go-back,
.go-forward {
  padding: 24px;
  font-size: 2rem;
  cursor: pointer;
  &:hover {
    background-color: #eee;
  }
}

.go-back {
  flex: 1;
  text-align: left;
}
.go-forward {
  flex: 3;
  text-align: right;
}
